text {
  font: 11px sans-serif;
  pointer-events: none;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}


.axis{
  opacity: .4;
}
.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}


div.tooltip {
  top: -1000px;
  position: absolute;
  padding: 10px;
  background: rgba(255, 255, 255, .90);
  border: 1px solid lightgray;
  pointer-events: none;
}
.tooltip-hidden{
  opacity: 0;
}


svg{
  overflow: visible;
  margin-left: -36px;
  margin-bottom: 22px;
}

path{
  fill: none;
  stroke-width: 1px;
}


.nomination{
  fill: rgb(187, 185, 185);
  stroke: rgb(139, 139, 139);
  stroke-width: 1px;
}

.winner{
  fill: gold;
  stroke: rgb(210, 177, 2);
}

.mouseconnection{
  stroke: lightgrey;
  stroke-width: 2px;
}

.connection{
  stroke: lightgrey;
  stroke-width: 1px;
}

.nomAvg{
  stroke: rgb(187, 185, 185);
  stroke-width: 3px;
}
.winAvg{
  stroke: gold;
  stroke-width: 3px;
}




text.name{
  font-size: 10px;
  font
}

#buttons{
  width: 850px;
}

.button{
  display: inline-block;
  width: 155px;
  cursor: pointer;
  text-align: center;
}

.button:hover, .button.selected{
  font-weight: bold;
  text-decoration: underline;
}