<section>
  <h1>Adam Pearce</h1>
    <a href='mailto:adam.r.pearce@gmail.com' target='_blank' >
	  	<img src='/images/email.png'  style="margin-bottom: 4px">
    </a>

    <a href='/atom.xml' target='_blank'>
      <img src='/images/rss.png'>
    </a>

    <a href='http://stackoverflow.com/users/1333195/adam-pearce' target='_blank'>
      <img src='/images/stackoverflow.png'>
    </a>

    <a href='https://github.com/1wheel' target='_blank'>
      <img src='/images/gitcat.png' style="height: 32px;">
    </a>

    <a href='https://twitter.com/adamrpearce' target='_blank'>
      <img src='/images/twitter_bird.png'>
    </a>
<!-- 
    <a href='http://www.last.fm/user/uniwheel' target='_blank'>
      <img src='/images/last.fm.png'>
    </a>
 -->
<!--     <a href='https://www.goodreads.com/user/show/1964465-adam' target='_blank'>
      <img src='/images/github.png'>
    </a>
 -->
    <a href='http://www.linkedin.com/pub/adam-pearce/65/557/a27' target='_blank'>
      <img src='/images/linkedin.png'>
    </a>
    
</section>
