<section>
  <h1>Posts</h1>
    {% for post in site.posts %}
      <li class="post">
        <a href="{{ root_url }}{{ post.url }}">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a>
      </li>
    {% endfor %}
</section>


<!--   	{% for post in site.posts reverse %}
  	{% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
  	{% unless year == this_year %}
  	  {% assign year = this_year %}
  	  <h2>{{ year }}</h2>
  	{% endunless %}
  	<article>
  	  {% include archive_post.html %}
  	</article>
  	{% endfor %}
 -->