body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
}

path{
	fill: none;
	stroke: black;
}

.down-path{
	stroke-width: 2px;
	stroke-opacity: 1;
}

.up-path{
	stroke-opacity: .4;
	stroke-width: 1.5px;
}

circle{
	stroke: orange;
	stroke-opacity: .4;
}

.down{
	transition: fill .4s ease-in;
	fill: steelblue;

}

.up{
	transition: fill .4s ease-in;
	fill: red;
}

.done{
	transition: fill 0s ease-in;
	fill: green;
}

.waiting{
	transition: fill .1s ease-in;
	fill: lightgrey;
}

.up,.down{	
	-webkit-animation-name: throb;
	-webkit-animation-duration: 1s;
	-webkit-animation-direction: alternate;
	-webkit-animation-iteration-count: infinite;
}

.inactive{
	pointer-events: none;
}

@-webkit-keyframes throb{
	from{
		stroke-width: 2px;
	}

	to{
		stroke-width: 10px;
	}
}

tr{
	color: grey;
}

tr.selected{
	color: black;
}

.fib-axis{
	fill: grey;
}
.selected{
	fill: black;
}