body{
  /*font-family: menlo, Consolas, 'Lucida Console', monospace; */
  /*margin: 0px;*/
}

.tooltip {
  top: -1000px;
  position: fixed;
  padding: 10px;
  background: rgba(255, 255, 255, .90);
  border: 1px solid lightgray;
  pointer-events: none;
}
.tooltip-hidden{
  opacity: 0;
  transition: all .3s;
  transition-delay: .1s;
}

@media (max-width: 590px){
  div.tooltip{
    bottom: -1px;
    width: calc(100%);
    left: -1px !important;
    right: -1px !important;
    top: auto !important;
    width: auto !important;
  }
}

svg{
  overflow: visible;
}

.y .domain{
  display: none;
}

text{
  /*pointer-events: none;*/
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
  user-select: none;
  font-family: sans-serif;

}


.axis{
  opacity: .7;
}

.axis line, .axis path{
  opacity: .5;
}

.axis text{
  text-shadow: 0 1px 0 rba(245,245,245), 1px 0 0 rba(245,245,245), 0 -1px 0 rba(245,245,245), -1px 0 0 rba(245,245,245);
}


.paper-img{
  max-width: 683px;
  margin: 0px auto;
}

.paper-img img{
  width: 100%;
}

#graph{
  /*margin-bottom: 40px;*/
  margin-bottom: -60px;
  width: 960px;
  margin-left: -105px;
}

p{
  position: relative;
  /*z-index: -2;*/
}


.annotations path{
  fill: none;
  stroke: black;
  stroke-width: .6px;
}
.annotations text{
  font-size: 14px;
  font-family: sans-serif;
}



.mobile text{
  font-size: 25px;
}
.mobile .axis text, .mobile .annotations text{
  font-size: 14px;
}


.mobile .x .tick:nth-child(odd) text{
  opacity: 0;
}

@media (min-width: 760px){
  .mobile text{
    font-size: 20px;
  }

}

#graph{
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}



.lag{
  cursor: pointer;
  border: 2px solid #000;
  padding-left: 3px;
  padding-right: 3px;
  margin-left: 2px;
  margin-right: 2px;
  user-select: none;
  background: #4682b480;
  white-space: nowrap;
}

.lag:hover{
  background: #4682b4ff;
}

h1{
  margin: 0 auto;  
  margin-bottom: 1.2em;
  margin-top: 1.2em;
  max-width: 600px;
  text-align: center;
}


#notes{
  font-family: sans-serif;
  font-size: 12px;
  opacity: .7;
}


