.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}


.name{
	text-shadow: 0 2px 0 #F5F5F5, 2px 0 0 #F5F5F5, 0 -2px 0 #F5F5F5, -2px 0 0 #F5F5F5;
}


svg{
	overflow: visible;
	font-size: 10px;
}



#player{
	position: relative;
}

#lineContainer{
	z-index: 100;
	position: relative;
	pointer-events: none;
	padding-left: 10px;
}

.line{
	height: 0px;
	font-size: 40px;
	font-family: monospace;
	font-weight: bold;
	line-height: 1.3em;
	opacity: 0;
}

.frontline{
	height: 0px;
	color: #d2130a;
	text-shadow: 0 1px 0 #333, 1px 0 0 #333, 0 -1px 0 #333, -1px 0 0 #333;
}

.backline{
	height: 0px;
	color: #3b4274;
	text-shadow: 0 1px 0 #ccc, 1px 0 0 #ccc, 0 -1px 0 #ccc, -1px 0 0 #ccc;
}


#ytContainer{
	z-index: 0;
	position: relative;
}

#graphContainer{
	display: none;
}

svg{
	overflow: visible;
}