.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}


.name{
	text-shadow: 0 2px 0 #F5F5F5, 2px 0 0 #F5F5F5, 0 -2px 0 #F5F5F5, -2px 0 0 #F5F5F5;
}


svg{
	overflow: visible;
	font-size: 10px;
}



#player{
	position: relative;
}

#lineContainer{
	z-index: 100;
	position: relative;
	pointer-events: none;
	padding-left: 10px;

}

.line{
	height: 0px;
	font-size: 40px;
	font-family: monospace;
	font-weight: bold;
	line-height: 1.3em;
}

.frontline{
	height: 0px;
	color: red;
	text-shadow: 0 1px 0 lightgrey, 1px 0 0 lightgrey, 0 -1px 0 lightgrey, -1px 0 0 lightgrey;
}

.backline{
	height: 0px;
	color: green;
	text-shadow: 0 2px 0 black, 2px 0 0 black, 0 -2px 0 black, -2px 0 0 black;
}


#ytContainer{
	z-index: -1;
	position: relative;
}