.editable, .arc.editable{
  stroke-width: 3px;
  stroke: black;
  pointer-events: none;
  fill-opacity: .1;
}



.draggable{
  fill-opacity: 1;
  stroke-width: 1px;
  cursor: pointer;
}
circle.highlight{
  stroke-width: 8px;
}
circle.ctrl{
  fill-opacity: 0;
  stroke-width: 1px;
}
circle.ctrl.highlight{
  stroke-width: 4px;
}


.ctrl-connect{
  stroke-dasharray: 5 5;
  stroke-width: 1px;
}

svg{
  border: solid 1px lightgrey;
}

.pathstr{
  font-family: monospace;
}

.pathstr span{
  display: inline-block;
}

span.cord{
  width: 75px;
  text-align: center;
  font-weight: bold;
}
span.ctrl{
  width: 75;
  text-align: center;
}
.cord.highlight, .ctrl.highlight{
 text-decoration: underline;
}


.arc{
  stroke: black;
  fill-opacity: .1;
  stroke-dasharray: 5 5;
}