html{
  min-width: 1200px;

}


.tooltip {
  top: -1000px;
  position: fixed;
  padding: 10px;
  background: rgba(255, 255, 255, .90);
  border: 1px solid lightgray;
  pointer-events: none;
  font-family: monospace;
  font-size: 12px;
}
.tooltip-hidden{
  opacity: 0;
  transition: all .3s;
  transition-delay: .1s;
}

@media (max-width: 590px){
  div.tooltip{
    bottom: -1px;
    width: calc(100%);
    left: -1px !important;
    right: -1px !important;
    top: auto !important;
    width: auto !important;
  }
}

svg{
  overflow: visible;
}

.domain{
  display: none;
}

text{
  pointer-events: none;
  /*text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;*/
}


.col{
  display: inline-block;
  width: 550px;
}

.abv{
  font-family: monospace;
  font-size: 10px;
  fill: #555;
}

.abv.active{
  fill: #000;
  font-weight: 600;
  font-size: 12px;
}



rect.active{
  stroke: #000;
  stroke-width: 2;
}


.axis text{
  font-weight: 400;
}
.axis text, .small-title{
  font-family: monospace;
  font-size: 10px;
  fill: #555;
}

.axis line{
  opacity: .1;
}
.axis .tick.bold line{
  opacity: .3;
}
.axis .tick.bold text{
  fill: #000;
  font-weight: 600;
}

.matrix .axis text{
  font-size: 14px !important;
  font-weight: 600;
}

.small-title, .axis text.small-title{
  font-size: 12px;
  margin-left: 23px;
  margin-bottom: -20px;
  fill: #000;
  font-weight: 600;
}

.label{
}


#notes{
  font-family: sans-serif;
  font-size: 12px;
  opacity: .7;
}

.graph{
  min-height: 800px
}


.map, .scatter{
  display: inline-block;
  vertical-align: top;
  position: relative;
  left: 30px;
}
.map{
  left: 10px;
  top: -20px;
  z-index: -20;
}


.cor-scatter circle.active{
  /*stroke-width: 8px;*/
  /*opacity: 1;*/
  /*stroke-width: 3;*/
  fill: #ddd;
  fill-opacity: 1;
  stroke-width: 4px;
  stroke: #000;

}

.u-538{
  border-bottom: 2px solid #000;
}
.u-eco{
  border-bottom: 2px solid #C2190F;
}