body{
  margin: 0px auto;
  background-color: rgb(250, 248, 248);
}

.scroll-section {
  margin-bottom: 50px;
  opacity: .1;
}

.scroll-section.active{
  opacity: 1;
}

#container{
  position: relative;
  width: 750px;
}

#overlay{
  position: relative;
  vertical-align: top;
  height: 150px;
  border: lightgray 1px solid;
  z-index: 1;
  background-color: white;
}
#overlay.fixed{
  position: fixed;
  top: 0px;
}
#overlay-space{
  height: 0px;
}
#overlay-space.fixed{
  height: 150px;;
}

#color-code{
  width: 300px;
  position: relative;
  top: -135px;
  left: 225px;
}
pre {
  background: white;
  border: 0px;
  line-height: 1.7em;
  font-size: 12px;
  margin-bottom: 0em;
  padding: 0em 0em;
  color: black;
  overflow: visible;
}


#color-code div{
  display: none;
}

circle{
  fill: rgb(255, 217, 159);
  stroke: black;
  stroke-width: 1px;
}
circle.selected{
  stroke-width: 3px;
  stroke: red;
}

.area{
  stroke: black;
  stroke-width: 1px;
}
.area.selected{
  stroke: red;
  stroke-width: 3px;
}
