html{
  background: #000;
  color: #fff;
  min-width: 1024px;
  font-family: monospace;
}
a, .header{
  color: #fff;
  font-family: monospace;
}
.header a img{
  filter: invert(100%);
}

h1{
  font-family: monospace;

}

.tooltip {
  top: -1000px;
  position: fixed;
  padding: 7px;
  background: rgba(0, 0, 0, .8);
  border: .1px solid rgba(255, 255, 255, .3);
  pointer-events: none;
  width: 130px;
  font: 10px monospace;
  line-height: 1.3em;
}
.tooltip-hidden{
  opacity: 0;
  transition: all .3s;
  transition-delay: .1s;
}

.tooltip text{
  text-shadow: none;
  fill: #000 !important;
}

@media (max-width: 590px){
  div.tooltip{
    bottom: -1px;
    width: calc(100%);
    left: -1px !important;
    right: -1px !important;
    top: auto !important;
    width: auto !important;
  }
}

svg{
  overflow: visible;
}

.axis{
  stroke-width: .5;
}
.domain{
  display: none;
}

text{
/*  pointer-events: none;*/
/*  text-shadow: 0 1px 0 #eee, 1px 0 0 #eee, 0 -1px 0 #eee, -1px 0 0 #eee;*/
}

text.day-label{
  text-shadow: 0 2px 0 #0F0F22, 2px 0 0 #0F0F22, 0 -2px 0 #0F0F22, -2px 0 0 #0F0F22;
}

.axis text{
  fill: #777;
  font: 9px monospace;
}

#notes{
  font-family: monospace;
  font-size: 12px;
  opacity: .7;
  color: #fff;
}




.graph {
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  gap: 30px 35px;
  font-family: monospace;
  min-height: 600px;
  margin-bottom: 60px;
}



:root {
  --green: #0c0;
  --silver: #9999cc;
  --gold: #ffff66;
}

.glow{
  filter: drop-shadow(0 0 2px var(--green)) 
          drop-shadow(0 0 8px var(--green));
  color: var(--green);
  stroke: var(--green);
}

.part-1{
  filter: drop-shadow(0 0 1.5px var(--silver)) 
          drop-shadow(0 0 8px var(--silver));
  color: var(--silver);
}

.part-2 {
  filter: drop-shadow(0 0 1.5px var(--gold)) 
          drop-shadow(0 0 8px var(--gold));
  color: var(--gold);
}






.annotation-container{
  position: absolute;
  pointer-events: none;
  font-family: monospace;
  font-size: 11px;

/*  opacity: .5;*/

  div{
    position: absolute;
    line-height: 1.1em;
  }
}
.annotation-container.is-draggable{
  pointer-events: all;
}

.annotation-container path{
  stroke: #fff;
  fill:  none;

}

.annotation-container.align-right div{
  text-align: right;
}
.annotation-container svg{
  position: relative;
  text{
    fill: #fff;
  }
}

.annotation-container div ni{
  display: inline-block;
  font-family: sans-serif;
  font-style: normal;
  font-size: 10px;
}


.annotation-container div, .overlay-chart-label{
/*  text-shadow: 0 1px 0 #0F0F22, 1px 0 0 #0F0F22, 0 -1px 0 #0F0F22, -1px 0 0 #0F0F22;*/
  user-select: none;
}



