body{
	background-color: #F5F5F5;
}

.point{
	stroke: white;
	fill-opacity: 1;
	opacity: .7;
	stroke-width: 2px;
}

.selectedPoint{
	fill-opacity: 0;
	stroke: white;
	stroke-width: 3px;
	opacity: 1;
}

.pairLine{
	stroke: white;
	stroke-width: 5px;
	opacity: 1;
}

.convex{
	stroke: black;
	stroke-width: 3px;
}

.trialLine{
	stroke: lightgray;
	opacity: .7;
}


.reset-button{
	font-size: 30px;
	fill: lightgray;
	cursor: pointer;
}
