body{
	background-color: #F5F5F5;
}

.point{
	stroke: white;
	fill-opacity: .5;
}

.left{
	fill: white;
	stroke-width: 3px;
}

.right{
	fill: white;
	stroke-width: 3px;
}

.pairLine{
	stroke: #fff;
	stroke-width: 5px;
}

.convex{
	stroke: black;
	stroke-width: 3px;
}

.trialLine{
	stroke: lightgray;
	opacity: .7;
}

.divideLine{
	stroke: #01863e;
}

.reset-button{
	font-size: 30px;
	fill: grey;
	cursor: pointer;
}
