body{
	background-color: #F5F5F5;
}

.point{
	fill-opacity: 1;
	fill: black;
}

.selectedPoint{
	stroke: white;
	fill: white;
	stroke-width: 5px;
	opacity: 1;
}

.pairLine{
	stroke: white;
	stroke-width: 5px;
	opacity: 1;
}

.convex{
	stroke: black;
	stroke-width: 3px;
}

.trialLine{
	stroke: lightgray;
	opacity: .7;
}


.reset-button{
	font-size: 30px;
	fill: lightgray;
	cursor: pointer;
}
.reset-button:hover{
	fill: darkgray;
}





.xorder{
	fill: none;
	stroke: grey;
	stroke-width: 2;
	stroke-dasharray: 2 4;
}

.mline{
	stroke: pink;
	fill: none;
}

.point{
	fill-opacity: .5;
	fill: steelblue;
	stroke: blue;
}

.top-point{
	fill: green;
	stroke: green;
}

.next-point{
	stroke-width: 3px;
	stroke: purple;
}

.passed-point{
	fill: grey;
	opacity: .5;
	stroke: steelblue;
}

.cur-hull{
	fill-opacity: .3;
	stroke: green;
	stroke-width: 3;
	fill: green;
}


.arc{
	fill: none;
	stroke: red;
	stroke-width: 2;
}
