body{ background: #F5F5F5; }

canvas {
  image-rendering: optimizeSpeed;            
  image-rendering: -moz-crisp-edges;         
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-crisp-edges;           
  image-rendering: pixelated;                
  -ms-interpolation-mode: nearest-neighbor;  
  display: inline-block;
}



#map-container{
  width: 750px;
}

#controls{
  display: inline-block;
  width: 375px;
  text-align: center;
  vertical-align: top;
  margin-top: 50px;
  font-size: 21px;
  font-family: monospace;
}

#controls div{
  margin-top: -5px;
  vertical-align: top;

}

#controls span{
  position: relative;
  top: 2px;
  vertical-align: top;

}

#controls input{
  width: 100px;
  margin-top: 10px;
  margin-left: 10px;
  vertical-align: top;
  display: inline-block;
}











/*lol css*/
input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4.4px;
  cursor: pointer;
  background: #444;
  border-radius: 1px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  border: 1px solid #000000;
  height: 20px;
  top: 5px;
  position: relative;
  width: 8px;
  border-radius: 1px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  /*background: #367ebd;*/
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 4.4px;
  cursor: pointer;
  background: #444;
  border-radius: 1px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  border: 1px solid #000000;
  height: 20px;
  top: 5px;
  position: relative;
  width: 8px;
  border-radius: 1px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 4.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 1px;
}
input[type=range]::-ms-fill-upper {
  background: #444;
  border: 0.2px solid #010101;
  border-radius: 1px;
}
input[type=range]::-ms-thumb {
  border: 1px solid #000000;
  height: 20px;
  top: 5px;
  position: relative;
  width: 8px;
  border-radius: 1px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #444;
}
input[type=range]:focus::-ms-fill-upper {
  /*background: #367ebd;*/
}
