path{
	stroke: black;
	stroke-width: 3px;
}

rect{
	fill-opacity: .8;
	fill: steelblue;
	stroke: blue;
	opacity: .5
}

.left{
	fill: steelblue;
	stroke: steelblue;
}

.right{
	fill: red;
	stroke: red;
}