.graphic{
  position: relative;
  width: 572px;
  height: 286px;
  background: #fff;
  margin: auto;
  overflow: hidden;
}

#graphic-0 canvas{
  left: -200px;
}




.graphic canvas, .graphic svg{
  position: absolute;
  top: 0px;
  left: 0px;
}

.tooltip {
  top: -1000px;
  position: fixed;
  padding: 10px;
  background: rgba(255, 255, 255, .90);
  border: 1px solid lightgray;
  pointer-events: none;
}
.tooltip-hidden{
  opacity: 0;
  transition: all .3s;
  transition-delay: .1s;
}

@media (max-width: 590px){
  div.tooltip{
    bottom: -1px;
    width: calc(100%);
    left: -1px !important;
    right: -1px !important;
    top: auto !important;
    width: auto !important;
  }
}

svg{
  overflow: visible;
}

.domain{
  display: none;
}

text{
  pointer-events: none;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
  font-family: monaco, Consolas, 'Lucida Console', monospace; 
  font-size: 10px;
}



