
rect{
	fill-opacity: 0;
	cursor: pointer;
	stroke-width: 1.5px;
}

rect.hovered{
	stroke: gray;
	fill-opacity: .1;
}
rect.selected{
	stroke: #ba21aa;
}
.hoverline{
	stroke: gray;
	stroke-width: 3px;
	stroke-linecap:round;
	stroke-dasharray: 6, 6, 1;
}

circle{
	stroke: black;
	stroke-width: 2px;
	fill: white;
}

.axis path{
	display: none;
}
.axis line{
	display: none;
}

.axis text{
	fill: #bdbcb7;
}
.axis text.hovered{
	font-size: 150%;
	fill: darkgray;
}

.endline{
	stroke: black;
	stroke-width: 2px;
	stroke-linecap:round;
	stroke-dasharray: 6, 6, 1;
}