line{
	stroke: red;
}

rect{
	fill-opacity: 0;
}

rect.hovered{
	stroke: gray;
	fill-opacity: .1;
}
rect.selected{
	stroke: red;
}

circle{
	stroke: black;
	stroke-width: 2px;
	fill: white;
}

.axis path{
	display: none;
}
.axis line{
	display: none;
}
.axis text{
	fill: #bdbcb7;
}