.editor, iframe, .spot-container{
  padding-bottom: 20px;
  padding-top: 20px;
}

.editor{
  display: inline-block;
  width: 100%;
}

.editor .chart-container{
  background: #000;
  width: 50%;
  display: inline-block;
  height: 320px;

}

.CodeMirror{
  background: #fff;
  width: 50%;
  display: inline-block;
  font-size: 15px;
}

.CodeMirror pre{
  font-family: 'Roboto Mono', monospace;
  /*font-family: 'Lucida Console', Consolas, monaco, monospace; */
  line-height: 22px;
}


canvas{
  pointer-events: none;
}
.target{
  /*opacity: .5;*/
  /*animation: strokeIn .9s infinite alternate;*/
  animation-timing-function: ease-in-out;
  /*stroke: #fff;*/

}

/*.target.hit{
  opacity: .8;
  animation: strokeIn .8s infinite alternate;
}

@keyframes strokeIn { 
  from { opacity: 1; } 
}
*/

.base-target{
  transition: fill 1s;
}

.hit .base-target{
  fill: #f0f;
  animation: strokeIn .4s infinite alternate ease-in-out;
}

@keyframes strokeIn { 
  from { fill: #fff; } 
}



.reload .chart-container {
  background: #f5f5f5;
}
.reload canvas, .reload .target{
  opacity: 0 !important;
}




.spot-full{
  /*max-width: 750px;*/
  width: 100%;
}
