.editor, iframe{
  margin-bottom: 20px;
  margin-top: 20px;
}

.editor{
  display: inline-block;
  width: 100%;
}

.editor .chart-container{
  background: #000;
  width: 50%;
  display: inline-block;
  height: 320px;

}

.CodeMirror{
  background: #fff;
  width: 50%;
  display: inline-block;
  font-size: 15px;


}

.CodeMirror pre{
  font-family: 'Lucida Console', Consolas, monaco, monospace; 
  line-height: 22px;
}


canvas{
  pointer-events: none;
}
.target{
  opacity: .5;
  animation: strokeIn .9s infinite alternate;
  animation-timing-function: ease-in-out;
  stroke: #fff;

}

.target.hit{
  opacity: 1;
  animation: strokeIn .4s infinite alternate;

}

@keyframes strokeIn { 
  from { stroke-width: 5 } 
}

.reload .chart-container {
  background: #bbb;
}
.reload canvas, .reload .target{
  opacity: 0 !important;
}
