html{
}

body{
  margin: 0px auto;
  /*pointer-events: none;*/
}

#container{
  margin: 0px auto;
  margin-top: 30px;
  position: relative;
  min-height: 4000px;
  /*pointer-events: none;*/
}

.slide{
  margin-bottom: 75vh;
  background: rgba(255,255,255, .95);
  padding: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
  max-width: 700px;
}

.text-d {
  background: #DDB32B;
}
.text-v {
  background: #2DB2A5;
}
.text-s {
  background: #A05E9C;
}
.text-d, .text-v, .text-s{
  padding-left: 2px;
  padding-right: 2px;
  color: #fff;
  border-radius: 2px;
  font-weight: 500;
}



#graph{
  height: 100vh;
  width: 100vw;
  position: fixed !important;
  z-index: -10;
  top: 0px;
  left: 0px;
}


circle.combined{
  stroke: #aaa;
  fill: #f5f5f5;
  stroke-width: .5px;
}


.header > span{
  /*display: none;*/
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;

}

h1{
  /*-webkit-text-fill-color: white; */
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: white;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}


svg{
  overflow: visible;
}



text{
  pointer-events: none;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}



.tooltip {
  top: -1000px;
  position: fixed;
  padding: 10px;
  background: rgba(255, 255, 255, .90);
  border: 1px solid lightgray;
  pointer-events: none;
  /*display: none;*/
}
.tooltip-hidden{
  opacity: 0;
  transition: all .3s;
  transition-delay: .1s;
}

@media (max-width: 590px){
  div.tooltip{
    bottom: -1px;
    width: calc(100%);
    left: -1px !important;
    right: -1px !important;
    top: auto !important;
    width: auto !important;
  }
}
