body{
  /*font-family: menlo, Consolas, 'Lucida Console', monospace; */
  /*margin: 0px;*/
}
html{
  /*background: #fff;*/
  background: #fff;

}

.tooltip {
  top: -1000px;
  position: fixed;
  padding: 10px;
  background: rgba(255, 255, 255, .90);
  border: 1px solid lightgray;
  pointer-events: none;
  width: 220px;
  z-index: 1000000;
  line-height: 1.3em;
}
.tooltip-hidden{
  opacity: 0;
  transition: all .3s;
  transition-delay: .1s;
}

@media (max-width: 590px){
  div.tooltip{
    bottom: -1px;
    width: calc(100%);
    left: -1px !important;
    right: -1px !important;
    top: auto !important;
    width: auto !important;
  }
}

svg{
  overflow: visible;
}

.domain{
  display: none;
}

text{
  /*pointer-events: none;*/
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}


.year-col{
  overflow-x: visible !important;
  vertical-align: top;
  margin-right: 4px;
  font-family: menlo, Consolas, 'Lucida Console', monospace; 
}
.year-col b{
  text-align: center;
  display: inline-block;
  width: 100%;
  background: #ddd;
}

.year-col .row{
  overflow-y: hidden;
  height: 1.2em;
  font-size: 12px;
  padding: 0px;
  margin-bottom: 1px;
  position: relative;
  cursor: pointer;
  line-height: 1.1em;
  background: #f5f5f5 !important;
  font-weight: 100;
}

.row.active{
  z-index: 100;
  text-decoration: underline;
  background: #000 !important;
  color: #fff !important;
}
.row.active .text{
  color: #fff !important;
}
.row.active .color{
  background: #3454f5 !important;
}

.row .text{
  /*overflow-y: hidden;*/
  /*width: 100%;*/
  padding: 1px
}

.row:hover .text{
  text-decoration: underline;
}


.row .color{
  padding: 1px;
  /*white-space: nowrap;*/
  /*overflow-y: hidden;*/
}


#year-grid{
  position: relative;
  min-height: 800px;
  margin-top: 40px;
}

.year-col .index{
  background: #fff !important;
  color: #999;
  pointer-events: none;

}

.album{
  overflow-x: hidden;
}

.year-rank-header{
  height: 1.2em;
  font-size: 12px;
  line-height: .95em;
  color: #999;
}


h1 span{
  padding-left: 5px;
  padding-right: 5px;
  margin-left: -5px;
  margin-right: -5px;
}

.h1-year{
  background: #ddd;
}

.h1-decade{
  background: #0ff;
}


.swoop{
  stroke: #888;
  stroke-width: .8;
  fill: none;
}

.pointer{
  height: 0px;
  position: relative;
  top: -14px;
  left: 14px;
}
.pointer div {
  overflow: visible;
  content: "";
  background-image: url(https://pair-code.github.io/interpretability/bert-tree/pointer.svg);
  width: 27px;
  height: 27px;
  position: absolute;
  left: -51px;
  top:20px;
}

.year-col b:hover{
  text-decoration: underline;
}

.no-spotify .text{
  text-decoration: none !important;
  cursor: default;

}


