html{
	border-top: 40px solid black;
	min-width: 760px;
	background-color: #F5F5F5;
}

body{
	padding-top: 40px;
	max-width: 750px;
	margin: 0px auto;
	font-family: 'Roboto Slab', serif;
	line-height: 22px;
	font-size: 16px;
}

.header{
	position: absolute;
	top: 6px;
	color: #eee;
	font-size: 15px;
	width: 750px;
	overflow: visible;
}
.header-left{
	float: left;
}
.header-right{
	float: right;
}

.header a{
	color: #eee;
}
.header a:hover{
	color: #fff;
}

h1,h2,h3,h4,h5{
	font-family: 'Roboto', sans-serif;
}

h2,h3,h4,h5{
	font-size: 22px;
}

p code{
	background: #ddd;
	padding: .05em;
	padding-left: .2em;
	padding-right: .2em;
	border-radius: 6px;
}