html{
	background-color: #F5F5F5;
	font-weight: normal;
}

body{
	max-width: 750px;
	margin: 0px auto;
	margin-top: 22px;
	font-family: 'Roboto Slab', serif;
	line-height: 1.55em;
	font-size: 16px;
}

@media (max-width: 760px){
	body{
		padding: 5px;
	}
}

p{
	line-height: 1.55em;
}

a{
	color: black;
}

.header{
  height: 1px;
  position: relative;
  top: -20px;
  color: black;
  font-size: 15px;
  overflow: visible;
  z-index: -1;
}
.header-left{
	float: left;
}
.header-right{
	float: right;
}

.header a{
	opacity: .5;
	text-decoration: none;
}
.header a:hover{
	opacity: 1
}
.header img{
	width: 16px;
	position: relative;
	top: 2px;
	margin-left: 5px;
}


h1,h2,h3,h4,h5{
	font-family: 'Roboto', sans-serif;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

h1{
	font-weight: 500;
	font-size: 34px;
}

h2,h3,h4,h5{
	font-size: 22px;
}

:not(pre) > code{
	background: #ddd;
	padding: .05em;
	padding-left: .2em;
	padding-right: .2em;
	border-radius: 6px;
}

strong{
	font-weight: bold;
}