// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
.post{
	border-bottom: 0px solid red !important;
}

aside.sidebar img{
	border: 0px solid red !important;
	//opacity: .3;
}

aside.sidebar a{
	//width: 32px;
	text-decoration: none;
}

aside.sidebar img:hover{
	//opacity: 1;
}
 

 #content{
 	width: 800px !important;
 }

 article blockquote{
 	font-size: 1em !important;
 }

 body{
 	font-size: 15px;
 }

 .hentry li{
 	margin-left: 1em;
 }



 #joymap-tooltip {
  position: absolute;
  width: 150px;
  padding: 8px;
  font: 12px sans-serif;
  background: rgba(255, 255, 255, .3);
  border: solid 1px gold;
  /*border-radius: 8px;*/
  pointer-events: none;
  opacity: 0;
}

#joymap-tooltip-title{
  text-align: center;
	font-weight: bold;
	font-size: 105%;
	background-color:rgba(0,0,0,0) !important;
	text-shadow:
	  -1px -1px 0 white,
	  0px -1px 0 white,
	  1px -1px 0 white,
	  -1px 1px 0 white,
	  0px 1px 0 white,
	  1px 1px 0 white;
 }