body{
  max-width: 600px;
}

h1{
  max-width: 530px;
}

/*h1{
  max-width: 500px;
  margin: 0px auto;
  margin-top: 20px;
  margin-bottom: 20px;

}

p{
  max-width: 500px;
  margin: 0px auto;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 200;
}

h3{
  max-width: 500px;
  margin: 0px auto;
}
*/
.tooltip {
  top: -1000px;
  position: fixed;
  padding: 10px;
  background: rgba(255, 255, 255, .90);
  border: 1px solid lightgray;
  pointer-events: none;
}
.tooltip-hidden{
  opacity: 0;
  transition: all .3s;
  transition-delay: .1s;
}

@media (max-width: 590px){
  div.tooltip{
    bottom: -1px;
    width: calc(100%);
    left: -1px !important;
    right: -1px !important;
    top: auto !important;
    width: auto !important;
  }
}

svg{
  overflow: visible;
}

.domain{
  display: none;
}

text{
  font-size: 14px;
  /*pointer-events: none;*/
  /*text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;*/
}

.img-cont{
  max-width: 805px;
  margin: 0px auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.img-cont img{
  max-width: 100%;
}

#two-years > div{
  max-width: 805px;
  margin: 0px auto;
  margin-bottom: 45px;
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

#two-years .trip{
  display: inline-block;
}

.axis{
  opacity: .5;
}
.y line{
  opacity: 0;
}




/*slope*/

.line-L circle{
  fill: #878787;
  stroke: #878787;
}

.line-L path{
  stroke: #878787;
}

b.line-L{
  color: #fff;
  background: #878787;
  border-radius: 50%;
  padding: 3px 7.5px;
  font-size: 18px;
  position: relative;
  top: -1px;
  width: 15.5px;
  text-align: center;
  display: inline-block;
}
b.line-7{
  color: #fff;
  background: #BE00C1;
  border-radius: 50%;
  padding: 3px 7.5px;
  font-size: 18px;
  position: relative;
  top: -1px;
  width: 15.5px;
  text-align: center;
  display: inline-block;
}

.line-7 circle{
  fill: #BE00C1;
  stroke: #BE00C1;
}

.line-7 path{
  stroke: #BE00C1;
}

#slope > div {
  display: inline-block;
  width: 290px;
}

#slope > .source{
  width: 98%;
}

text{
  font-family: monospace;
  font-size: 12px;
}











.cbtc-queens-key{
  background: #F83313;
  color: #fff;
  padding: 3px;
  border-radius: 3px;
}







.source{
  font-weight: 400;
  font-size: 12px;
  line-height: 13px;
  opacity: .5;
  font-family: monospace;
}

@media (max-width: 800px){
  .img-source{
    margin-left: 5px !important;
  }
}








